<!DOCTYPE html>
<html>
    <head>
        <title>ajax window cleaner</title>
    </head>
    <body>
        <div id="pain">
            <form action="/ajax" method="POST">
                <input type="text" name="username" id="username">
                <input type="text" name="password" id="password">
                <input type="button" value="Submit" onclick="loadXMLDoc()">
            </form>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="static/ajax.js"></script>
</html>