<head>
    <body>
	<!--
	Jun Hong Wang and Ravindra Mangar
	softdev pd7
	k20: restful journey skyward (getting information from api)
	2022-11-21
	time spent: 0.6 hrs
	-->
        <img src="{{ imageurl }}"> </img>
	<br>
	<p>This is an image of NGC 6302 taken by Hubble Space Telescope</p><br>
	<p>We got this image by getting the link for the NASA API and using an fstring to put the key in the rest of the link. Then, we turned this json file into a dictionary, which could be easily accessed by inputting a key which was the url. In the html file, we used a little bit of jinja to put the key into the img src. </p>
    </body>
</head>
